<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.record.mapper.RecordMapper">
    
    <resultMap type="RecordCaseLaw" id="CaseLawResult">
        <result property="id"    column="id"    />
        <result property="caseNo"    column="case_no"    />
        <result property="caseOppositeParties"    column="case_opposite_parties"    />
        <result property="caseWtr"    column="case_wtr"    />
        <result property="caseCause" column="case_cause"/>
        <result property="caseCourt" column="case_court" />
        <result property="caseAttorney" column="case_attorney" />
    </resultMap>

    <sql id="selectCaseLawVo">
        select id, case_no, case_opposite_parties,case_wtr from case_law
    </sql>

    <select id="selectCaseLawList" parameterType="RecordCaseLaw" resultMap="CaseLawResult">
        <include refid="selectCaseLawVo"/>
        <if test=" searchType == 1">
            <if test=" searchStr !=null and searchStr !=''">
                and case_no like '%${searchStr}%'
            </if>
        </if>
        <if test=" searchType == 2">
            <if test=" searchStr !=null and searchStr !=''">
                and case_wtr like '%${searchStr}%'
            </if>
        </if>
        <if test=" searchType == 3">
            <if test=" searchStr !=null and searchStr !=''">
                and case_opposite_parties like '%${searchStr}%'
            </if>
        </if>
        <if test=" searchType == 4">
            <if test=" searchStr !=null and searchStr !=''">
                and case_cause like '%${searchStr}%'
            </if>
        </if>
        <if test=" searchType == 5">
            <if test=" searchStr !=null and searchStr !=''">
                and case_attorney like '%${searchStr}%'
            </if>
        </if>
        <if test=" searchType == 6">
            <if test=" searchStr !=null and searchStr !=''">
                and case_court like '%${searchStr}%'
            </if>
        </if>
    </select>
    

</mapper>