<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.act.mapper.ApplyMapper">
    
    <resultMap type="Apply" id="ApplyResult">
        <result property="id"    column="id"    />
        <result property="caseNo"    column="case_no"    />
        <result property="submiter"    column="submiter"    />
        <result property="type"    column="type"    />
        <result property="leader"    column="leader"    />
        <result property="createtime"    column="createtime"    />
        <result property="status"    column="status"    />
        <result property="wid"    column="wid"    />
        <result property="remark"    column="remark"    />
        <result property="file"    column="file"    />
        <result property="wtr"    column="wtr"    />
    </resultMap>

    <sql id="selectApplyVo">
        select id, case_no, submiter, type, leader, createtime, status, wid, remark, file, wtr from apply
    </sql>

    <select id="selectApplyList" parameterType="Apply" resultMap="ApplyResult">
        <include refid="selectApplyVo"/>
        <where>  
            <if test="caseNo != null  and caseNo != ''"> and case_no like '%${caseNo}%'</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="createtime != null  and createtime != ''">and createtime like concat((DATE_FORMAT(#{createtime},'%Y-%m-%d')),'%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectApplyById" parameterType="Integer" resultMap="ApplyResult">
        <include refid="selectApplyVo"/>
        where id = #{id}
    </select>

<!--    <select id="selectApplyListxl" parameterType="Apply" resultMap="ApplyResult">-->
<!--        select DISTINCT type from apply-->
<!--    </select>-->

</mapper>