<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.act.mapper.CaseSealApplyforMapper">
    
    <resultMap type="CaseSealApplyfor" id="CaseSealApplyforResult">
        <result property="id"    column="id"    />
        <result property="caseNo"    column="case_no"    />
        <result property="applyforReceive"    column="applyfor_receive"    />
        <result property="applyforApprovalStatus"    column="applyfor_approval_status"    />
        <result property="applyforRecipient"    column="applyfor_recipient"    />
        <result property="sendPerson"    column="send_person"    />
        <result property="applyforUsingTheItem"    column="applyfor_using_the_item"    />
        <result property="caseid"    column="caseid"    />
        <result property="caseName"    column="caseName"    />
        <result property="remark"    column="remark"    />

        <result property="caseAgencyfee"    column="case_agencyfee"    />
        <result property="caseApproveStatus"    column="case_approve_status"    />
        <result property="caseCause"    column="case_cause"    />
        <result property="caseChargeWay"    column="case_charge_way"    />
        <result property="caseCourt"    column="case_court"    />
        <result property="caseInvoiced"    column="case_invoiced"    />
        <result property="caseLawsuitStatus"    column="case_lawsuit_status"    />
        <result property="caseOppositeParties"    column="case_opposite_parties"    />
        <result property="casePaidsal"    column="case_paidsal"    />
        <result property="caseRemarks"    column="case_remarks"    />
        <result property="caseStatus"    column="case_status"    />
        <result property="caseWtr"    column="case_wtr"    />
        <result property="typeName"    column="typeName"    />
        <result property="caseSubtime"    column="case_subtime"    />
    </resultMap>

    <resultMap id="CaseSealApplyforCaseFilesResult" type="CaseSealApplyfor" extends="CaseSealApplyforResult">
        <collection property="caseFilesList" notNullColumn="sub_id" javaType="java.util.List" resultMap="CaseFilesResult" />
    </resultMap>

    <resultMap type="CaseFiles" id="CaseFilesResult">
        <result property="id"    column="sub_id"    />
        <result property="appid"    column="sub_appid"    />
        <result property="filename"    column="sub_filename"    />
        <result property="filepath"    column="sub_filepath"    />
        <result property="typeid"    column="sub_typeid"    />
    </resultMap>

    <resultMap type="FileType" id="FileTypeResult">
        <result property="id"    column="id"    />
        <result property="typeName"    column="typeName"    />

    </resultMap>

    <sql id="selectCaseSealApplyforVo">
        select seal.*,type.typeName,files.filename from case_seal_applyfor seal
          inner join file_type type on seal.typeid = type.id
          inner join case_files  files on seal.id = files.appid
    </sql>

    <select id="selectCaseSealApplyforList" parameterType="CaseSealApplyfor" resultMap="CaseSealApplyforResult">
        <include refid="selectCaseSealApplyforVo"/>

        <where>
            seal.applyfor_recipient = #{applyforRecipient}
            <if test="caseNo!=null and caseNo!=''">
                and  seal.case_no like "%"#{caseNo}"%"
            </if>
            <if test="applyforApprovalStatus!=null and applyforApprovalStatus!=''">
                and seal.applyfor_approval_status = #{applyforApprovalStatus}
            </if>
            <if test="typeid!=null and typeid!=''">
                and  seal.typeid = #{typeid}
            </if>
            <if test="applyforReceive != null and applyforReceive != ''">
                and seal.applyfor_receive like concat((DATE_FORMAT(#{applyforReceive},'%Y-%m-%d')),'%')
            </if>
        </where>
        order by applyfor_receive desc
    </select>
    
    <select id="selectCaseSealApplyforById" parameterType="Integer" resultMap="CaseSealApplyforResult">
        select cas.*,cas.id as sub_id,type2.case_type_name,emp_name,cw.case_attorney from case_law cas
          inner join case_case_type type on type.id = cas.case_case_type_id
          inner join case_case_type type2 on type2.id = type.type_pid
          inner join cw_performancesplit cw on cas.id = cw.case_law_id
          inner join hr_emp emp on emp.id = cw.hr_emp_id
        where cas.id = (
            select caseid from case_seal_applyfor seal
                inner join file_type type on seal.typeid = type.id
                inner join case_files  files on seal.id = files.appid
            where seal.id=#{id}
            )
          and cw.case_attorney = '主办律师'


    </select>

    <select id="listApplyforxl"  parameterType="FileType" resultMap="FileTypeResult">
        select * from file_type
    </select>
</mapper>