<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.act.mapper.CaseLawMapper">

    <resultMap type="CaseLaw" id="CaseLawResult">
        <result property="id"    column="id"    />
        <result property="caseNo"    column="case_no"    />
        <result property="caseOppositeParties"    column="case_opposite_parties"    />
        <result property="caseOppositeCardnum"    column="case_opposite_cardnum"    />
        <result property="caseThirdParty"    column="case_third_party"    />
        <result property="caseSuspect"    column="case_suspect"    />
        <result property="caseClash"    column="case_clash"    />
        <result property="caseCause"    column="case_cause"    />
        <result property="caseAccept"    column="case_accept"    />
        <result property="caseLawsuitobj"    column="case_lawsuitobj"    />
        <result property="caseSubsidy"    column="case_subsidy"    />
        <result property="caseSubsidysal"    column="case_subsidysal"    />
        <result property="caseSettleStatus"    column="case_settle_status"    />
        <result property="casePlan"    column="case_plan"    />
        <result property="caseApproveStatus"    column="case_approve_status"    />
        <result property="caseAgencyfee"    column="case_agencyfee"    />
        <result property="caseProxysal"    column="case_proxysal"    />
        <result property="caseTransactionRegion"    column="case_transaction_region"    />
        <result property="caseAssign"    column="case_assign"    />
        <result property="casePaidsal"    column="case_paidsal"    />
        <result property="caseUnpaidsal"    column="case_unpaidsal"    />
        <result property="caseInvoiced"    column="case_invoiced"    />
        <result property="caseNotinvoiced"    column="case_notinvoiced"    />
        <result property="casePropernum"    column="case_propernum"    />
        <result property="caseCourt"    column="case_court"    />
        <result property="caseFilenumber"    column="case_filenumber"    />
        <result property="caseCorrelationFile"    column="case_correlation_file"    />
        <result property="caseSubmitter"    column="case_submitter"    />
        <result property="caseSubtime"    column="case_subtime"    />
        <result property="caseRecycle"    column="case_recycle"    />
        <result property="caseRemarks"    column="case_remarks"    />
        <result property="clientId"    column="client_id"    />
        <result property="caseAttorney"    column="case_attorney"    />
        <result property="caseStatus"    column="case_status"    />
        <result property="caseLawsuitStatus"    column="case_lawsuit_status"    />
        <result property="caseChargeWay"    column="case_charge_way"    />
        <result property="systemApprovalId"    column="system_approval_id"    />
        <result property="caseCaseTypeId"    column="case_case_type_id"    />
        <result property="caseTypeName"    column="case_type_name"    />
        <result property="caseSealApplyforId"    column="case_seal_applyfor_id"    />
        <result property="hrEmpId"    column="hr_emp_id"    />
        <result property="empName"    column="emp_name"    />
        <result property="collectionTime"    column="collection_time"    />
        <result property="caseParties"    column="case_parties"    />
        <result property="caseFxmoney"    column="case_fxmoney"    />
        <result property="caseWtr"    column="case_wtr"    />
        <result property="caseContract"    column="case_contract"    />
        <result property="caseRecord"    column="case_record"    />
        <result property="caseShare"    column="case_share"    />
        <result property="caseSettleType"    column="case_settle_type"    />
        <result property="caseApprovalEndtime"    column="case_approval_endtime"    />
        <result property="caseRecordNum"    column="case_record_num"    />
        <result property="standard"    column="standard"    />
    </resultMap>

    <resultMap id="CaseLawCaseCaseTypeResult" type="CaseLaw" extends="CaseLawResult">
        <collection property="caseCaseTypeList" notNullColumn="sub_id" javaType="java.util.List" resultMap="CaseCaseTypeResult" />
    </resultMap>

    <resultMap type="CaseCaseType" id="CaseCaseTypeResult">
        <result property="id"    column="sub_id"    />
        <result property="caseTypeName"    column="sub_case_type_name"    />
        <result property="typePid"    column="sub_type_pid"    />
        <result property="typeMoneyMin"    column="sub_type_money_min"    />
        <result property="typeMoneyMax"    column="sub_type_money_max"    />
    </resultMap>


    <resultMap type="CaseCaseType" id="CaseCaseTypesResult">
        <result property="id"    column="id"    />
        <result property="caseTypeName"    column="case_type_name"    />
    </resultMap>

    <sql id="selectCaseLawVo">
        select case_law.id,case_approve_status,case_approval_endtime,system_approval_id,case_no ,type2.case_type_name,case_approve_status,case_subtime,case_submitter from case_law
           inner join case_case_type type on type.id = case_law.case_case_type_id
           inner join case_case_type type2 on type2.id = type.type_pid
</sql>

    <select id="selectCaseLawList" parameterType="CaseLaw" resultMap="CaseLawResult">
        <include refid="selectCaseLawVo"/>
        <where>
            case_submitter = #{caseSubmitter}
            <if test="caseNo != null  and caseNo != ''"> and case_no like '%${caseNo}%'</if>
            <if test="caseApproveStatus != null  and caseApproveStatus != ''"> and case_approve_status = #{caseApproveStatus}</if>
            <if test="caseSubtime != null"> and case_subtime like concat((DATE_FORMAT(#{caseSubtime},'%Y-%m-%d')),'%')</if>
            <if test="caseCaseTypeId != null  and caseCaseTypeId != ''"> and case_law.case_case_type_id like '${caseCaseTypeId}%'</if>
--             and case_case_type.id = LEFT(case_law.case_case_type_id,4) and case_law.hr_emp_id = hr_emp.id
                        order by case_subtime desc
        </where>

    </select>

    <select id="selectCaseLawById" parameterType="Integer" resultMap="CaseLawCaseCaseTypeResult">
       select cas.*,cas.id as sub_id,type2.case_type_name,emp_name,cw.case_attorney from case_law cas
        inner join case_case_type type on type.id = cas.case_case_type_id
        inner join case_case_type type2 on type2.id = type.type_pid
        inner join cw_performancesplit cw on cas.id = cw.case_law_id
        inner join hr_emp emp on emp.id = cw.hr_emp_id
       where cas.id = #{id}
         and cw.case_attorney = '主办律师'
    </select>

    <select id="selectCaseCaseTypeXL" parameterType="CaseCaseType" resultMap="CaseCaseTypesResult">
        select id,case_type_name from case_case_type limit 0,10
    </select>

</mapper>