<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AdmNoticeMapper">
    
    <resultMap type="AdmNotice" id="AdmNoticeResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="noticeReleasetime"    column="notice_releasetime"    />
        <result property="systemUserId"    column="system_user_id"    />
        <result property="noticeNotificationtime"    column="notice_notificationtime"    />
        <result property="noticeNotificationendtime"    column="notice_notificationendtime"    />
        <result property="noticeContent"    column="notice_content"    />
        <result property="noticeFile"    column="notice_file"    />
    </resultMap>

    <sql id="selectAdmNoticeVo">
        select id, title, notice_releasetime, system_user_id, notice_notificationtime, notice_notificationendtime, notice_content, notice_file from adm_notice
    </sql>

    <select id="selectAdmNoticeList" parameterType="AdmNotice" resultMap="AdmNoticeResult">
        <include refid="selectAdmNoticeVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="noticeNotificationtime != null "> and notice_notificationtime &gt;= #{noticeNotificationtime}</if>
            <if test="noticeNotificationendtime != null "> and notice_notificationendtime &lt;= #{noticeNotificationendtime}</if>
        </where>
    </select>
    
    <select id="selectAdmNoticeById" parameterType="Long" resultMap="AdmNoticeResult">
        <include refid="selectAdmNoticeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAdmNotice" parameterType="AdmNotice" useGeneratedKeys="true" keyProperty="id">
        insert into adm_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="noticeReleasetime != null">notice_releasetime,</if>
            <if test="systemUserId != null">system_user_id,</if>
            <if test="noticeNotificationtime != null">notice_notificationtime,</if>
            <if test="noticeNotificationendtime != null">notice_notificationendtime,</if>
            <if test="noticeContent != null">notice_content,</if>
            <if test="noticeFile != null">notice_file,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="noticeReleasetime != null">#{noticeReleasetime},</if>
            <if test="systemUserId != null">#{systemUserId},</if>
            <if test="noticeNotificationtime != null">#{noticeNotificationtime},</if>
            <if test="noticeNotificationendtime != null">#{noticeNotificationendtime},</if>
            <if test="noticeContent != null">#{noticeContent},</if>
            <if test="noticeFile != null">#{noticeFile},</if>
         </trim>
    </insert>

    <update id="updateAdmNotice" parameterType="AdmNotice">
        update adm_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="noticeReleasetime != null">notice_releasetime = #{noticeReleasetime},</if>
            <if test="systemUserId != null">system_user_id = #{systemUserId},</if>
            <if test="noticeNotificationtime != null">notice_notificationtime = #{noticeNotificationtime},</if>
            <if test="noticeNotificationendtime != null">notice_notificationendtime = #{noticeNotificationendtime},</if>
            <if test="noticeContent != null">notice_content = #{noticeContent},</if>
            <if test="noticeFile != null">notice_file = #{noticeFile},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAdmNoticeById" parameterType="Long">
        delete from adm_notice where id = #{id}
    </delete>

    <delete id="deleteAdmNoticeByIds" parameterType="String">
        delete from adm_notice where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>