<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.persM.mapper.PMHrEmpMapper">

    <resultMap type="PMHrEmp" id="PMHrEmpResult">
        <result property="id"    column="id"    />
        <result property="empName"    column="emp_name"    />
        <result property="empBirthdate"    column="emp_birthdate"    />
        <result property="empSex"    column="emp_sex"    />
        <result property="empWorkstatus"    column="emp_workstatus"    />
        <result property="empPaperstype"    column="emp_paperstype"    />
        <result property="empPapersnum"    column="emp_papersnum"    />
        <result property="empHigthEducation"    column="emp_higth_education"    />
        <result property="empHigthDegree"    column="emp_higth_degree"    />
        <result property="empPosition"    column="emp_position"    />
        <result property="hrNationId"    column="hr_nation_id"    />
        <result property="hrPoliticalId"    column="hr_political_id"    />
        <result property="empMaritalsta"    column="emp_maritalsta"    />
        <result property="empEntrancenum"    column="emp_entrancenum"    />
        <result property="hrSpecialtyId"    column="hr_specialty_id"    />
        <result property="hrPractiseId"    column="hr_practise_id"    />
        <result property="empPracnum"    column="emp_pracnum"    />
        <result property="empPracdate"    column="emp_pracdate"    />
        <result property="empPracsite"    column="emp_pracsite"    />
        <result property="hrCertifyId"    column="hr_certify_id"    />
        <result property="empCertifynum"    column="emp_certifynum"    />
        <result property="empGainway"    column="emp_gainway"    />
        <result property="empGainsite"    column="emp_gainsite"    />
        <result property="empIntroduce"    column="emp_introduce"    />
        <result property="empEntrydate"    column="emp_entrydate"    />
        <result property="empSocialNum"    column="emp_social_num"    />
        <result property="empContStartdate"    column="emp_cont_startdate"    />
        <result property="empContEnddate"    column="emp_cont_enddate"    />
        <result property="empInsured"    column="emp_insured"    />
        <result property="empPhone"    column="emp_phone"    />
        <result property="empPicture"    column="emp_picture"    />
        <result property="empSite"    column="emp_site"    />
        <result property="empContactPhone"    column="emp_contact_phone"    />
        <result property="empEmail"    column="emp_email"    />
        <result property="empPostcode"    column="emp_postcode"    />
        <result property="empQq"    column="emp_qq"    />
        <result property="empWechat"    column="emp_wechat"    />
        <result property="identityName" column="identity_name" />
    </resultMap>

    <resultMap id="PMHrEmpHrLawyerIdentityResult" type="PMHrEmp" extends="PMHrEmpResult">
        <collection property="hrLawyerIdentityList" notNullColumn="id" javaType="java.util.List" resultMap="HrLawyerIdentityResult" />
        <collection property="workExperienceList" notNullColumn="id" javaType="java.util.List" resultMap="WorkExperienceResult" />
        <collection property="educationsList" notNullColumn="id" javaType="java.util.List" resultMap="EducationResult" />
    </resultMap>

    <resultMap type="HrLawyerIdentity" id="HrLawyerIdentityResult">
        <result property="id"    column="id"    />
        <result property="identityName"    column="sub_identity_name"    />
        <result property="identityTutor"    column="sub_identity_tutor"    />
        <result property="identityType"    column="sub_identity_type"    />
        <result property="identityStartdate"    column="sub_identity_startdate"    />
        <result property="identityEnddate"    column="sub_identity_enddate"    />
        <result property="identityNum"    column="sub_identity_num"    />
        <result property="hrEmpId"    column="sub_hr_emp_id"    />
    </resultMap>

    <resultMap type="WorkExperience" id="WorkExperienceResult">
        <result property="id"    column="id"    />
        <result property="workhistoryStartdate"    column="workhistory_startdate"    />
        <result property="workhistoryEnddate"    column="workhistory_enddate"    />
        <result property="workhistoryWorkunit"    column="workhistory_workunit"    />
        <result property="workhistoryJobPosition"    column="workhistory_job_position"    />
        <result property="workhistoryWorktype"    column="workhistory_worktype"    />
        <result property="workhistoryWorknature"    column="workhistory_worknature"    />
        <result property="workhistorySite"    column="workhistory_site"    />
        <result property="hrEmpId"    column="hr_emp_id"    />
    </resultMap>

    <resultMap type="Education" id="EducationResult">
        <result property="id"    column="id"    />
        <result property="degreeStartdate"    column="degree_startdate"    />
        <result property="degreeEnddate"    column="degree_enddate"    />
        <result property="degreeSchool"    column="degree_school"    />
        <result property="degreeMajor"    column="degree_major"    />
        <result property="degreeEducation"    column="degree_education"    />
        <result property="degreeDegrees"    column="degree_degrees"    />
        <result property="degreeCrednum"    column="degree_crednum"    />
        <result property="degreeFulltime"    column="degree_fulltime"    />
        <result property="degreeSite"    column="degree_site"    />
        <result property="hrEmpId"    column="hr_emp_id"    />
    </resultMap>


    <sql id="selectPMHrEmpVo">
        select law.identity_name,emp.* from hr_emp emp,hr_lawyer_identity law where law.hr_emp_id = emp.id
    </sql>
    <select id="selectPMHrEmpList" parameterType="PMHrEmp" resultMap="PMHrEmpResult">
        <include refid="selectPMHrEmpVo"/>
        <if test="empName != null  and empName != ''"> and emp_name like '%${empName}%' </if>
        <if test="identityName != null and identityName != ''  "> and identity_name = '${identityName}'</if>
        <if test="empEntrydate != null "> and emp_entrydate = '${empEntrydate}'</if>
        <if test="empContEnddate != null "> and emp_cont_enddate = '${empContEnddate}'</if>
        <if test="empPhone != null  and empPhone != ''"> and emp_phone = '${empPhone}'</if>
    </select>

    <select id="selectPMHrEmpById" parameterType="PMHrEmp" resultMap="PMHrEmpHrLawyerIdentityResult">
        select * from hr_emp where id = ${id}
    </select>

    <select id="selectEducationById" parameterType="Education" resultMap="EducationResult">
        select * from hr_degree where id = ${id}
    </select>

    <select id="selectWorkExperienceById" parameterType="WorkExperience" resultMap="WorkExperienceResult">
        select * from hr_workhistory where id = ${id}
    </select>

    <select id="selectWorkById" parameterType="WorkExperience" resultMap="WorkExperienceResult">
        select * from hr_workhistory where hr_emp_id = ${hrEmpId}
    </select>

    <insert id="insertPMHrEmp" parameterType="PMHrEmp" useGeneratedKeys="true" keyProperty="id">
        insert into hr_emp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="empName != null">emp_name,</if>
            <if test="empBirthdate != null">emp_birthdate,</if>
            <if test="empSex != null">emp_sex,</if>
            <if test="empWorkstatus != null">emp_workstatus,</if>
            <if test="empPaperstype != null">emp_paperstype,</if>
            <if test="empPapersnum != null">emp_papersnum,</if>
            <if test="empHigthEducation != null">emp_higth_education,</if>
            <if test="empHigthDegree != null">emp_higth_degree,</if>
            <if test="empPosition != null">emp_position,</if>
            <if test="hrNationId != null">hr_nation_id,</if>
            <if test="hrPoliticalId != null">hr_political_id,</if>
            <if test="empMaritalsta != null">emp_maritalsta,</if>
            <if test="empEntrancenum != null">emp_entrancenum,</if>
            <if test="hrSpecialtyId != null">hr_specialty_id,</if>
            <if test="hrPractiseId != null">hr_practise_id,</if>
            <if test="empPracnum != null">emp_pracnum,</if>
            <if test="empPracdate != null">emp_pracdate,</if>
            <if test="empPracsite != null">emp_pracsite,</if>
            <if test="hrCertifyId != null">hr_certify_id,</if>
            <if test="empCertifynum != null">emp_certifynum,</if>
            <if test="empGainway != null">emp_gainway,</if>
            <if test="empGainsite != null">emp_gainsite,</if>
            <if test="empIntroduce != null">emp_introduce,</if>
            <if test="empEntrydate != null">emp_entrydate,</if>
            <if test="empSocialNum != null">emp_social_num,</if>
            <if test="empContStartdate != null">emp_cont_startdate,</if>
            <if test="empContEnddate != null">emp_cont_enddate,</if>
            <if test="empInsured != null">emp_insured,</if>
            <if test="empPhone != null">emp_phone,</if>
            <if test="empPicture != null">emp_picture,</if>
            <if test="empSite != null">emp_site,</if>
            <if test="empContactPhone != null">emp_contact_phone,</if>
            <if test="empEmail != null">emp_email,</if>
            <if test="empPostcode != null">emp_postcode,</if>
            <if test="empQq != null">emp_qq,</if>
            <if test="empWechat != null">emp_wechat,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="empName != null">#{empName},</if>
            <if test="empBirthdate != null">#{empBirthdate},</if>
            <if test="empSex != null">#{empSex},</if>
            <if test="empWorkstatus != null">#{empWorkstatus},</if>
            <if test="empPaperstype != null">#{empPaperstype},</if>
            <if test="empPapersnum != null">#{empPapersnum},</if>
            <if test="empHigthEducation != null">#{empHigthEducation},</if>
            <if test="empHigthDegree != null">#{empHigthDegree},</if>
            <if test="empPosition != null">#{empPosition},</if>
            <if test="hrNationId != null">#{hrNationId},</if>
            <if test="hrPoliticalId != null">#{hrPoliticalId},</if>
            <if test="empMaritalsta != null">#{empMaritalsta},</if>
            <if test="empEntrancenum != null">#{empEntrancenum},</if>
            <if test="hrSpecialtyId != null">#{hrSpecialtyId},</if>
            <if test="hrPractiseId != null">#{hrPractiseId},</if>
            <if test="empPracnum != null">#{empPracnum},</if>
            <if test="empPracdate != null">#{empPracdate},</if>
            <if test="empPracsite != null">#{empPracsite},</if>
            <if test="hrCertifyId != null">#{hrCertifyId},</if>
            <if test="empCertifynum != null">#{empCertifynum},</if>
            <if test="empGainway != null">#{empGainway},</if>
            <if test="empGainsite != null">#{empGainsite},</if>
            <if test="empIntroduce != null">#{empIntroduce},</if>
            <if test="empEntrydate != null">#{empEntrydate},</if>
            <if test="empSocialNum != null">#{empSocialNum},</if>
            <if test="empContStartdate != null">#{empContStartdate},</if>
            <if test="empContEnddate != null">#{empContEnddate},</if>
            <if test="empInsured != null">#{empInsured},</if>
            <if test="empPhone != null">#{empPhone},</if>
            <if test="empPicture != null">#{empPicture},</if>
            <if test="empSite != null">#{empSite},</if>
            <if test="empContactPhone != null">#{empContactPhone},</if>
            <if test="empEmail != null">#{empEmail},</if>
            <if test="empPostcode != null">#{empPostcode},</if>
            <if test="empQq != null">#{empQq},</if>
            <if test="empWechat != null">#{empWechat},</if>
        </trim>
    </insert>

    <update id="updatePMHrEmp" parameterType="PMHrEmp">
        update hr_emp
        <trim prefix="SET" suffixOverrides=",">
            <if test="empName != null">emp_name = #{empName},</if>
            <if test="empBirthdate != null">emp_birthdate = #{empBirthdate},</if>
            <if test="empSex != null">emp_sex = #{empSex},</if>
            <if test="empWorkstatus != null">emp_workstatus = #{empWorkstatus},</if>
            <if test="empPaperstype != null">emp_paperstype = #{empPaperstype},</if>
            <if test="empPapersnum != null">emp_papersnum = #{empPapersnum},</if>
            <if test="empHigthEducation != null">emp_higth_education = #{empHigthEducation},</if>
            <if test="empHigthDegree != null">emp_higth_degree = #{empHigthDegree},</if>
            <if test="empPosition != null">emp_position = #{empPosition},</if>
            <if test="hrNationId != null">hr_nation_id = #{hrNationId},</if>
            <if test="hrPoliticalId != null">hr_political_id = #{hrPoliticalId},</if>
            <if test="empMaritalsta != null">emp_maritalsta = #{empMaritalsta},</if>
            <if test="empEntrancenum != null">emp_entrancenum = #{empEntrancenum},</if>
            <if test="hrSpecialtyId != null">hr_specialty_id = #{hrSpecialtyId},</if>
            <if test="hrPractiseId != null">hr_practise_id = #{hrPractiseId},</if>
            <if test="empPracnum != null">emp_pracnum = #{empPracnum},</if>
            <if test="empPracdate != null">emp_pracdate = #{empPracdate},</if>
            <if test="empPracsite != null">emp_pracsite = #{empPracsite},</if>
            <if test="hrCertifyId != null">hr_certify_id = #{hrCertifyId},</if>
            <if test="empCertifynum != null">emp_certifynum = #{empCertifynum},</if>
            <if test="empGainway != null">emp_gainway = #{empGainway},</if>
            <if test="empGainsite != null">emp_gainsite = #{empGainsite},</if>
            <if test="empIntroduce != null">emp_introduce = #{empIntroduce},</if>
            <if test="empEntrydate != null">emp_entrydate = #{empEntrydate},</if>
            <if test="empSocialNum != null">emp_social_num = #{empSocialNum},</if>
            <if test="empContStartdate != null">emp_cont_startdate = #{empContStartdate},</if>
            <if test="empContEnddate != null">emp_cont_enddate = #{empContEnddate},</if>
            <if test="empInsured != null">emp_insured = #{empInsured},</if>
            <if test="empPhone != null">emp_phone = #{empPhone},</if>
            <if test="empPicture != null">emp_picture = #{empPicture},</if>
            <if test="empSite != null">emp_site = #{empSite},</if>
            <if test="empContactPhone != null">emp_contact_phone = #{empContactPhone},</if>
            <if test="empEmail != null">emp_email = #{empEmail},</if>
            <if test="empPostcode != null">emp_postcode = #{empPostcode},</if>
            <if test="empQq != null">emp_qq = #{empQq},</if>
            <if test="empWechat != null">emp_wechat = #{empWechat},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePMHrEmpById" parameterType="Long">
        delete from hr_emp where id = #{id}
    </delete>

    <delete id="deletePMHrEmpByIds" parameterType="String">
        delete from hr_emp where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteHrLawyerIdentityByHrEmpIds" parameterType="String">
        delete from hr_lawyer_identity where hr_emp_id in
        <foreach item="hrEmpId" collection="array" open="(" separator="," close=")">
            #{hrEmpId}
        </foreach>
    </delete>

    <delete id="deleteHrLawyerIdentityByHrEmpId" parameterType="Long">
        delete from hr_lawyer_identity where hr_emp_id = #{hrEmpId}
    </delete>

    <insert id="insertHrLawyerIdentity" parameterType="hrLawyerIdentity" useGeneratedKeys="true" keyProperty="id">
        insert into hr_lawyer_identity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="identityName != null">identity_name,</if>
            <if test="identityTutor != null">identity_tutor,</if>
            <if test="identityType != null">identity_type,</if>
            <if test="identityStartdate != null">identity_startdate,</if>
            <if test="identityEnddate != null">identity_enddate,</if>
            <if test="identityNum != null">identity_num,</if>
            <if test="hrEmpId != null">hr_emp_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="identityName != null">#{identityName},</if>
            <if test="identityTutor != null">#{identityTutor},</if>
            <if test="identityType != null">#{identityType},</if>
            <if test="identityStartdate != null">#{identityStartdate},</if>
            <if test="identityEnddate != null">#{identityEnddate},</if>
            <if test="identityNum != null">#{identityNum},</if>
            <if test="hrEmpId != null">#{hrEmpId},</if>
        </trim>
    </insert>

    <update id="updateWorkExperience" parameterType="WorkExperience">
        update hr_workhistory
        <trim prefix="SET" suffixOverrides=",">
            <if test="workhistoryStartdate != null">workhistory_startdate = #{workhistoryStartdate},</if>
            <if test="workhistoryEnddate != null">workhistory_enddate = #{workhistoryEnddate},</if>
            <if test="workhistoryWorkunit != null">workhistory_workunit = #{workhistoryWorkunit},</if>
            <if test="workhistoryJobPosition != null">workhistory_job_position = #{workhistoryJobPosition},</if>
            <if test="workhistoryWorktype != null">workhistory_worktype = #{workhistoryWorktype},</if>
            <if test="workhistoryWorknature != null">workhistory_worknature = #{workhistoryWorknature},</if>
            <if test="workhistorySite != null">workhistory_site = #{workhistorySite},</if>
            <if test="hrEmpId != null">hr_emp_id = #{hrEmpId},</if>
        </trim>
        where id = #{id}
    </update>

    <insert id="insertWorkExperience" parameterType="WorkExperience" useGeneratedKeys="true" keyProperty="id">
        insert into hr_workhistory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workhistoryStartdate != null">workhistory_startdate,</if>
            <if test="workhistoryEnddate != null">workhistory_enddate,</if>
            <if test="workhistoryWorkunit != null">workhistory_workunit,</if>
            <if test="workhistoryJobPosition != null">workhistory_job_position,</if>
            <if test="workhistoryWorktype != null">workhistory_worktype,</if>
            <if test="workhistoryWorknature != null">workhistory_worknature,</if>
            <if test="workhistorySite != null">workhistory_site,</if>
            <if test="hrEmpId != null">hr_emp_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workhistoryStartdate != null">#{workhistoryStartdate},</if>
            <if test="workhistoryEnddate != null">#{workhistoryEnddate},</if>
            <if test="workhistoryWorkunit != null">#{workhistoryWorkunit},</if>
            <if test="workhistoryJobPosition != null">#{workhistoryJobPosition},</if>
            <if test="workhistoryWorktype != null">#{workhistoryWorktype},</if>
            <if test="workhistoryWorknature != null">#{workhistoryWorknature},</if>
            <if test="workhistorySite != null">#{workhistorySite},</if>
            <if test="hrEmpId != null">#{hrEmpId},</if>
        </trim>
    </insert>

    <delete id="deleteWorkExperienceByIds" parameterType="Integer">
        delete from hr_workhistory where id = ${id}
    </delete>
</mapper>