<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.statistics.mapper.StatisticsMapper">
    
    <resultMap type="CaseLaw" id="CaseLawResult">
        <result property="id"    column="id"    />
        <result property="caseNo"    column="case_no"    />
        <result property="caseOppositeParties"    column="case_opposite_parties"    />
        <result property="caseCause"    column="case_cause"    />
        <result property="caseAccept"    column="case_accept"    />
        <result property="caseLawsuitobj"    column="case_lawsuitobj"    />
        <result property="caseAgencyfee"    column="case_agencyfee"    />
        <result property="casePaidsal"    column="case_paidsal"    />
        <result property="caseInvoiced"    column="case_invoiced"    />
        <result property="caseSubtime"    column="case_subtime"    />
        <result property="collectionTime"    column="collection_time"    />
        <result property="caseRecord"    column="case_record"    />
        <result property="caseSettleType"    column="case_settle_type"    />
        <result property="caseRecordNum"    column="case_record_num"    />
    </resultMap>

    <resultMap id="CaseLawHrEmpResult" type="CaseLaw" extends="CaseLawResult">
        <collection property="hrEmpList" notNullColumn="emp_id" javaType="java.util.List" resultMap="HrEmpResult" />
        <collection property="ClientList" notNullColumn="client" javaType="java.util.List" resultMap="ClientResult" />

    </resultMap>

    <resultMap type="HrEmp" id="HrEmpResult">
        <result property="empId"    column="id"    />
        <result property="empName"    column="emp_name"    />
    </resultMap>

    <resultMap type="Client" id="ClientResult">
        <result property="id"    column="id"    />
        <result property="client"    column="client"    />
    </resultMap>

    <sql id="selectCaseLawVo">
        select cl.id case_id,hre.id emp_id,case_no,client,case_opposite_parties,emp_name,case_subtime,case_cause,
               collection_time,case_accept,case_lawsuitobj,case_agencyfee,case_paidsal,case_invoiced,case_settle_type,
               case_record,case_record_num
                from case_law cl
                 inner join hr_emp hre on hre.id = cl.hr_emp_id
                 inner join client c on c.id = cl.client_id
        where case_recycle = 'Y'
    </sql>

    <select id="selectCaseLawList" parameterType="CaseLaw" resultMap="CaseLawResult">
        <include refid="selectCaseLawVo"/>

    </select>

</mapper>
